{% extends 'base_auth.html' %} {% load static %} {% block content%}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Set your new password</h4>
                </div>
                <form
                action="{% url 'reset_user_password' uidb64 token %}"
                method="post"
                >
                    {% csrf_token %} {% include 'partials/_messages.html' %}
                    
                    <p class="text-sm text-success emailSuccessOutput"></p>
                    <div class="input-group mb-3">
                        <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        class="form-control form-control-sm"
                        id="passwordField"
                        />
                    </div>
                    <div class="mb-5">
                        <small class="float-end showPasswordToggle">SHOW</small>
                    </div>
                    <div class="input-group mb-3">
                    <input
                        type="password"
                        name="password2"
                        placeholder="Confirm Password"
                        class="form-control form-control-sm"
                        id="passwordField"
                        />
                    </div>
                    <div class="mb-5">
                        <small class="float-end showPasswordToggle">SHOW</small>
                    </div>
                    <div class="d-grid gap-2">
                        <input
                        type="submit"
                        value="Submit"
                        class="btn btn-primary submit-btn"
                        />
                    </div>
                </form>
                <div class="container">
                    <span class="text-lead lead"> Have an account? </span>
                    <a href="{% url 'login' %}">Login</a><br />
                    <span class="text-lead lead"> No Account? </span>
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
